.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.buttonContainerGap {
  gap: 10px;
}
.buttonContainer .btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-inline: 24px;
  padding-block: 6px;
  border-radius: 999px;
}
.buttonContainer .primaryButton {
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #ffffff;
}
