.main {
  margin-block: 10px;
}

.main .paper {
  background-color: #f4f7fc;
  border-radius: 16px;
  padding-block: 24px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.paper .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  padding-inline: 24px;
}

.userDetails {
  padding-block: 20px;
}
.userDetails .userDetailsBox {
  display: flex;
  gap: 10px;
  padding: 12px;
  border: 1px solid #f4f7fc;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.userDetails .userDetailsTitle {
  font-weight: 600;
  color: var(--gray-800);
  margin-bottom: 20px;
}
.userDetails .backButton {
  margin-bottom: 5px;
  padding: 0;
  min-width: 28px;
}

.userDetails .userDetailsLabel {
  font-weight: 600;
  color: var(--gray-800);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}
.userDetails .userContent {
  font-weight: 500;
  color: var(--gray-500);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
