.main {
  margin-block: 10px;
}

.main .paper {
  background-color: #f4f7fc;
  border-radius: 16px;
  padding-block: 24px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.paper .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  padding-inline: 24px;
}

.userDetails {
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(var(--gray-rgb), 0.1);
  max-width: 400px;
  margin: 20px auto;
}
.userDetails .userDetailsTitle {
  font-weight: 600;
  color: var(--gray-800);
  margin-bottom: 20px;
}
.userDetails .backButton {
  margin-bottom: 5px;
  padding: 0;
  min-width: 28px;
}

.userDetails .userDetailsLabel {
  font-weight: 600;
  color: var(--gray-800);
}
