.searchContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-inline: 24px;
}

.searchContainer .searchForm {
  position: relative;
}
.searchContainer .searchForm div {
  border-radius: 16px;
  height: 42px;
}
.searchContainer .searchForm .clearButton {
  position: absolute;
  right: 0;
  top: 0px;
  background-color: transparent;
}
