.table .tableHeading {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.table .tableHead tr th {
  background-color: transparent;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #464f60;
  border-color: #e9edf5;
}
.table .tableHead tr th:first-child,
.table .tableBody tr td:first-child {
  padding-left: 24px;
}
.table .tableBody {
  background-color: #fff;
}
.table .tableBody tr td {
  padding-block: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.table .tableBody tr td:first-child {
  font-weight: 600;
  color: #171c26;
}

.table .tablePagination div + p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #171c26;
}
